.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 3px;
}

.node text { 
 pointer-events: none;
 font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

line {
  stroke: #999;
  stroke-width: 1.5px;
}

h2 h3{
    font-weight: bold;
}

body{
    padding: 50px  200px;
}

#tabs{
    padding-left: 16px;
}
#divider{
    background-color:#000;

}
#vl {
    border-right: 4px solid black;
    height: 1000px;
    width: 1em;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.course-list{
    overflow: auto;
}