.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


h2 h3{
    font-weight: bold;
}

body{
    padding: 50px  200px;
}

#tabs{
    padding-left: 16px;
}
#divider{
    background-color:#000;

}
#vl {
    border-right: 4px solid black;
    height: 1000px;
    width: 1em;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.course-list{
    overflow: auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
